$color_body: #fff;
$color_bg: #1d1d1d;
$color_white: #ffffff;
$color_black: #000000;
$color_darkgrey: #181818;
$color_lightgrey: #acacac;
$color_grey: #868686;
$color_orange: #ee7752;
$color_magenta: #e73c7e;
$color_blue: #23a6d5;
$color_teal: #23d5ab;

$color_primary: $color_orange;

$font_main: "Roboto", Sans-serif;
$font_semibold: "Roboto semibold", "Open Sans", Sans-serif;
$font_bold: "Roboto bold", "Open Sans", Sans-serif;
$font_italic: "Roboto italic", "Open Sans", Sans-serif;

$path_images: "../images/";
